@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("./../fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("./../fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("./../fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.page-body {
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    width: 210px;
    background: linear-gradient(to bottom, transparent 33%, #FFE17F 33% 66%, transparent 66% 99%);
    text-align: center;
    color: #000000;
    text-decoration: none;
}
/*Header*/


.header-logo-wrapper {
    background: linear-gradient(#fff 50%, #FFE17F 50%);
    padding-left: 60px;
    padding-top: 10px;
    
}
.search-form {
    
    font-size: 16px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 359px 158px;
    margin-right: 25px;
    margin-top: -5px;
}
.searsh-input {
    
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px 0 0 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    background: transparent;
   
}

.search-button {
    
    font-size: 16px;
    line-height: 20px;
    border-radius: 0 16px 16px 0;
   display: inline-block;
   background: transparent;
}

.header-color-wrapper {
    color: #000000;
    text-decoration: none;
    
    background: #FFE17F;
    
    
    
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1040px;
    padding-top: 30px;
    margin: 0 auto;
}
.icons-wrapper {
    
    font-size: 18px;
    line-height: 30px;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 13px;
    align-items: center;
    position: relative;

}
.enter, 
.compare,
.basket-link {
    color: inherit;
    text-decoration: none;
}
.compare-backet-wrapper {
    margin-left: auto;
    display: flex;
}
.icons-compare-wrapper {
    margin-right: 40px;

}
.icon-button-counter {
    position: absolute;
    left: -15px;
    min-width: 21px;
    height: 21px;
    background: #fff;
   
    border-radius: 50%;
    
    font-size: 14px;
    line-height: 17px;

}

.header-navigation-wrapper {
    display: grid;
    grid-template-columns: 570px 1fr;
    padding-top: 30px;
    padding-bottom: 130px;
    width: 1040px;
    margin: 0 auto;
}
.catalog-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 293px;
    letter-spacing: 0.2em;
    color: inherit;
    text-decoration: none;
}

.navigation-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: inherit;
    text-decoration: none;
}


/*Galery*/
.galery {
    display: grid;
    grid-template-columns: 560px 1fr;
    gap: 40px;
    margin-top: -65px;
    z-index: 1;
    position: relative;
}
.gallery-image-wrapper {
    position: relative;
    margin-top: -75px;
    width: 560px;
    
    
}
.gallery-image {
    display: block;
    position: relative;
    
    z-index: 1;
}

.slider-controls {
    position: absolute;
    top: 245px;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
  justify-content: space-between;
  }
.slider-button {
    width: 20px;
    height: 60px;
    
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.slider-next {
    transform: rotate(180deg);
}
.promo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 29px;
}
.gallery-paragraph {
    
    font-size: 18px;
    line-height: 30px;
    color: #444;
    margin-bottom: 61px;
}
.galery-link-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slider-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.slider-pagination-item {
    margin-right: 4px;
  }
  .slider-pagination-item:last-child {
    margin-right: 0;
  }
  .slider-pagination-button {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
  } 
.slider-pagination-button-current {
    background-color: #000;
}
.characteristics-list {
    display: flex;
    flex-wrap: wrap; 
   
}
.characteristics-item {
    margin-right: 20px;
    width: 150px;
}
.characteristics-item:last-child {
margin-right: 0;
}
.characteristics-title {
   
    font-size: 16px;
    line-height: 30px;
}

.characteristics-defenition {
    
    font-size: 36px;
    line-height: 30px;
    color: #444;
    margin-left: 0;
}


/*Accessories*/
.accessories {
    margin-bottom: 70px;
}
.accessories-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.accessories-item {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.accessories-item::before {
    content: "";
    width: 160px;
    height: 160px;
    margin-top: -2px;
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.accessories-item-virtual-reality::before{
    content: "";
    background-image: url("../img/virtual-reality.svg");
}
.accessories-item-monopod::before {
    content: "";
    background-image: url("../img/monopod.svg");
}
.accessories-item-action::before {
    content: "";
    background-image: url("../img/action.svg");
}
.accessories-item-fitness-bracelets::before {
    content: "";
    background-image: url("../img/fitness-bracelets.svg");
}
.accessories-item-smart-watch::before {
    content: "";
    background-image: url("../img/smart-watch.svg");
}
.accessories-item-quadcopters::before {
    content: "";
    background-image: url("../img/quadcopters.svg");
}
.accessories-item:last-child {
    margin-right: 0;
}

.accessories-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    width: 160px;
    color: #000000;
    text-decoration: none;
}

/*Delivery*/
.delivery {
    background: linear-gradient(#fff 102px, #F0F0F0 102px);
    margin-bottom: 70px;
    
    
}

.delivery-inner {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 116px;
    position: relative;
}
.delivery-inner::after {
    content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 280px;
  width: 0;
  border-right: 7px solid #000;
}
.additional-menu {
    padding: 0;
    padding-top: 64px;
    margin: 0;
    list-style-type: none;
}
.additional-menu-item {
    margin-bottom: 35px;
}
.additional-menu-link {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    background: linear-gradient(to bottom, #F0F0F0 33%, #FFE17F 33% 60%, #F0F0F0 66% 99%);
    color: #000000;
    text-decoration: none;

}
.additional-menu-link-current {
    color: #FFE17F;
    background: #000000;
}
.delivery-title {
    margin-top: 0;
    margin-bottom: 34px;
    padding-top: 72px;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    
}

.delivery-paragraph {
    
    font-size: 18px;
    line-height: 30px;
    color: #444;
    width: 448px;
}

.delivery-wrapper {
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: right;
    
}

.delivery-promo {
    margin-bottom: 70px;
    background: linear-gradient(#fff 102px #F0F0F0 102px)
}
.delivery-promo {
    display: grid;
    grid-template-columns: 125px 1035px;
}
.delivery-promo-image {
    width: 125px;
    height: 100px;
    background: #FFE17F;
    background-image: url("../img/delivery-promo-image.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.delivery-promo-text {
    width: 1035px;
    background-color: #F0F0F0;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;

}

.delivery-promo-paragraph {
    padding-top: 30px;
}

.delivery-promo-text::after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/delivery-info.svg");
}


/*About, Contacts*/
.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 108px;
    margin-bottom: 70px;
}
.about-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 48px;
}
.about-subtitle {
    margin-top: 0;
    margin-bottom: 15px;
   
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}
.about-paragraph {
    margin-top: 0;
    margin-bottom: 30px;
    
    font-size: 18px;
    line-height: 30px;
    color: #444;
}

.about-list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.about-item {
    margin-bottom: 18px;
  
}

.about-list-link {
    
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    
}
.contacts-address-text {
    margin-bottom: 0px;
    
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    color: #444;
    
}
.contacts-phone {
    margin-bottom: 30px;
    
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    color: #444;
}
.contacts-schedule-item {
    
    font-size: 18px;
    line-height: 30px; 
    color: #444;
}

/*Subscribe*/
.subscribe {
    background: #F0F0F0;
}
.subscribe-wrapper {
    padding-top: 64px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 252px;
}
.subscribe-title {
    margin-top: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
      
}
.subscribe-text {
   
    
    font-size: 18px;
    line-height: 30px; 
    color: #444444;

}

.newsletter-form {
    display: flex;
}
.newsletter-email .field {
    width: 557px;
}
.newsletter-email {
    
    margin: 0;
  }
.newsletter-email-field {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #C4C4C4;
    background: transparent;
}
.newsletter-button {
    padding: 18px 39px;
    text-transform: uppercase;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.newsletter-wrapper {
    padding-bottom: 56px;
}
.newsletter-wrapper {
    display: flex;
    justify-content: space-between;
}
.newsletter-text {
    
    font-size: 18px;
    line-height: 30px; 
    color: #444444;
    
}

.newsletter-text::before {
    content: "";
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/subscrition-form.svg");
    margin-right: 16px;
    display: inline-block;
    
}

/*Footer*/
.page-footer {
    background: #444444;
    color: #fff;
}
.footer-logo-wrapper {
    padding-top: 62px;
    padding-bottom: 35px;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: 234px 1fr 180px;
    gap: 117px;
    margin-bottom: 64px;
}
.footer-address-text {
    margin: 0;
    font-style: normal;
    
    font-size: 16px;
    line-height: 20px; 
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer-menu-link {
    text-transform: uppercase;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}   
.footer-phone {
    
    font-size: 16px;
    line-height: 20px; 
    color: #ffffff;
}

.footer-inner {
    display: flex;
    align-items: center;
    
   
}
.strip {
    content: "";
    width: 80px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/strip.svg");
    margin-right: 16px;
    display: inline-block;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
   margin-left: auto;
   margin-right: auto; 
   max-width: 600px;
    padding: 0;
    list-style-type: none;
}
.footer-social-item {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.footer-social-link {
    display: block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    border-radius: 50%;
}
.footer-social-fb {
    background-image: url("../img/facebook.svg");
}
.footer-social-instagram {
    background-image: url("../img/instagram.svg");
}
.footer-social-tw {
    background-image: url("../img/twitter.svg");
}


/* Catalog */
.catalog-products {
    background-color: #F0F0F0;

}
.catalog-products-wrapper {
    display: flex;
}
.catalog-left-column {
    width: 320px;
}
.inner-header {
    background-color: #ffffff;
    color: #000000;
    
}
.inner-header-wrapper {
    margin-left: 60px;
}
.inner-header-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 16px;
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    list-style-type: none;
}
.breadcrumbs-item {
    position: relative;
    margin-right: 36px;
    list-style-type: none;
}
.breadcrumbs-item::after {
    position: absolute;
    top: 5px;
    right: -20px;
    width: 8px;
    height: 8px;
    background-image: url("../img/arrow-breadcrumbs.svg");
    background-repeat: no-repeat;
    content: "";
}
  
.breadcrumbs-item:last-child::after {
    content: none;
}
.catalog-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 60px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.catalog-filter-subtitle {
   
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -0.02em;
}
.control-label {
  
    font-size: 16px;
    line-height: 19px;
}
.range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 33px;
    background-color: #000000;
    
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #DCDCDC;
}
.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #F0F0F0;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}
.toggle-min {
    top: -8px;
    left: -10px;
  }
  
.toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}
  
.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}
  
.range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}
  
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
  
.range-toggle:hover {
    background-color: #EBEBEB;
}
  
.range-toggle:active {
    background-color: #000000;
} 
.range-toggle:focus {
    outline: 2px solid #AF4FFF;
}
.catalog-filter-group {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    border: none;
}
.control {
    position: relative;
    display: block;
    padding-left: 36px;
}
.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #242424;
}
.control:hover .control-mark {
    border-color: #cccccc;
}
.control:active .control-mark {
    border-color: #cccccc;
}
  
.control-input:disabled + .control-mark {
    border-color: #ffffff;
}
.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #000000;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
    transform: rotate(45deg);
}
  
.control-input[type="checkbox"]:checked + .control-mark::after {
    transform: rotate(-45deg);
}
.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
    content: "";
}
.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.catalog-filter-item:not(:last-child) {
    margin-bottom: 18px;
}

.catalog-right-column {
    width: 840px;
}
/*sorting-container*/
.sorting-container {
    display: flex;
}

.card-grid-toggle-wrapper {
    margin-left: auto;
}
.catalog-title-sorting {
    margin-right: 197px;
}
/*product-list*/
.product-list {
    margin: 0;
   
    padding: 0 40px;
    padding-top: 70px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
}
.products-color-wrapper {
    background-color: #FFFFFF;
}
.product-card {
    width: 360px;
    
}
.product-card-title-link {
    text-decoration: none;
}
.product-card-title {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    
}
.product-card-price {
    color: #444444;
    font-size: 18px;
    line-height: 21px;
}

/*Pagination*/
.pagination {
    background: #EBEBEB;
    padding: 25px 0;
    margin: 69px auto 103px auto;
    list-style-type: none;
    display: flex;
    width: 760px;

    
}
.paginattion-item-number:not(:last-child) {
    margin-right: 15px;
}

.pagination-link {
    color: rgba(68, 68, 68, 0.3);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.pagination-prev, 
.pagination-next {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
}
.pagination-prev  {
    margin-right: 162px;
}
.pagination-next {
    margin-left: 145px;
}




.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.9);
}
.modal {
    position: relative;
    margin: auto;
    padding: 72px 80px 82px 80px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
}
.modal-delivery {
    width: 920px;
}
.modal-close-button {
    position: absolute;
    padding: 0;
    top: 84px;
    right: 80px;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border: none;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
.modal-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}